<div>
  <h1 class="font-bold text-4xl">Datasets#new</h1>
  <p>Find me in app/views/datasets/new.html.erb</p>
</div>

<h1>New Dataset</h1>
<%= form_with(model: @dataset, local: true, html: { multipart: true }) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :source %>
    <%= form.text_field :source %>
  </div>
  <div>
    <%= form.label :csv_file %>
    <%= form.file_field :csv_file, accept: 'text/csv' %>
  </div>
  <%= form.submit %>
<% end %>